

body {
  width:90%;
}

th {
  vertical-align:top;
}

td {
    padding:5px;
    vertical-align:top;
	text-align:left;
}

th {
  text-align:center;
}

ul {
   margin:0;
}

body {
	text-align:center;
}

table {
	Max-width:1000px;
	margin:auto;
}

p {
	margin:0;
}